@using Xeber.Models;

@{
    ViewBag.Title = "magasin";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 


<!-- ===============.=======CONTENT================ -->
<div class="container margin-top-30">
    <div class="row">
        <!-- ===============.=======Path================ -->
        <div id="breadcrumbs" class="stuck_position margin-bottom-30">
            <div class="container">
                <div class="row">
                    <div class="moduletable   col-sm-12">
                        <div class="module_container">
                            <ul class="breadcrumb">
                                <li><a href="index-2.html" class="pathway">Baş səhifə</a></li>
                                <li><a href="index-2.html" class="pathway">Kateqoriya</a></li>
                                <li><a href="index-2.html" class="pathway">Maraqlı</a></li>
                                <li class="active"><span>Sağlamlıq</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8  fadeIn animated" style="visibility: visible;">

            <!--==================LAYOUT-1=================-->
            <h3 class="heading-1"><span>Əsas xəbərlər</span></h3>
            <div class="row  fadeIn" style="visibility: visible; animation-name: fadeIn;">
@foreach (news item in ViewBag.healthy)
{
                <div class="col-md-6 col-sm-6 margin-bottom-30  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <div class="layout_3--item  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <a href="@Url.Action("read", "news", new { id = item.id })"><img src="~/Public/images/@item.photo" class="img-responsive" alt=""></a>
                        </div>
                        <h4><a href="@Url.Action("read", "news", new { id = item.id })">@item.description</a></h4>
                        <p>
                            @item.content.Substring(0, 70)..
                        </p>
                        <span class="author" style="font-size: 11px; color: #808080;margin-right: 6px;">@item.writer</span>
                        <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <span class="date" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                            <span class="comments" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.comment.Count</span>
                        </div>
                    </div>
                </div>
}
                <div class="col-md-6 col-sm-6 dual-item2 margin-bottom-30  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                  @foreach (news item in ViewBag.healthy_nd)
                  {
                    <div class="layout_2--item row  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="col-md-5 col-sm-5 padding-right-10  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <a href="@Url.Action("read", "news", new { id = item.id })"><img src="~/Public/images/@item.photo" class="img-responsive" alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-7 col-sm-7 padding-left-5  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <h4><a href="@Url.Action("read", "news", new { id = item.id })">@item.description</a></h4>
                            <span class="author" style="font-size: 11px; color: #808080;margin-right: 6px;">@item.writer</span>
                            <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <span class="date" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                                <span class="comments" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.comment.Count</span>
                            </div>
                        </div>
                    </div>
                    <hr class="l2">
                  }
                    <div class="margin-bottom-30  fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
                </div>
            </div>
            <!--================LAYOUT-2======================-->
            <h3 class="heading-1"><span>Son xəbərlər</span></h3>
            <div class="layout_1 home4-masonry2 margin-bottom-50  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="row fadeIn" style="visibility: visible; animation-name: fadeIn;">
@foreach (news item in ViewBag.healthy_rd)
{
                    <div class="col-md-4  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="layout_1--item fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <a href="@Url.Action("read", "news", new { id = item.id })">
                                <div class="overlay  fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
                                <img src="~/Public/images/@item.photo" class="img-responsive" alt="">
                                <div class="layout-detail padding-20  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <h5>@item.description</h5>
                                    <span class="author" style="font-size: 11px; color: #fff;margin-right: 6px;">@item.writer</span>
                                    <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                        <span class="date" style="font-size: 11px;color: #fff;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                                        <span class="comments" style="font-size: 11px;color: #fff;margin-right: 6px;">@item.comment.Count</span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
    }
                </div>
            </div>
            <!--=========================LAYOUT-3======================-->
            <h3 class="heading-1"><span>Son xəbərlər</span></h3>
@foreach (news item in ViewBag.healthy_fth)
{
            <div class="layout_3--item row  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <div class="col-md-4 col-sm-5  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <a href="@Url.Action("read", "news", new { id = item.id })"><img src="~/Public/images/@item.photo" class="img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <h4><a href="@Url.Action("read", "news", new { id = item.id })">@item.description</a></h4>
                    <p>
                        @item.content.Substring(0,70)..
                    </p>
                    <span class="author" style="font-size: 11px; color: #808080;margin-right: 6px;">@item.writer</span>
                    <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <span class="date" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                        <span class="comments" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.comment.Count</span>
                    </div>
                </div>
            </div>
            <h4 class="margin-top-15"></h4>
}
            <!--=========================LAYOUT-4======================-->
            <h3 class="heading-1 margin-top-60"><span>baş xəbərlər</span></h3>
            <!-- ===============.=======Slider-3================ -->
            <div id="owl-three" class="owl-carousel owl-theme">
@foreach (news item in ViewBag.healthy_slide)
{
                <div class="item">
                    <div class="row margin-bottom-40  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="layout_3--item  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="col-md-8  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <a href="@Url.Action("read", "news", new { id = item.id })"><img src="~/Public/images/healthy/12.jpg" class="img-responsive" alt=""></a>
                                </div>
                            </div>

                            <div class="col-md-4  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <h4><a href="@Url.Action("read", "news", new { id = item.id })">@item.description</a></h4>
                                <p>
                                   @item.content.Substring(0,70).. 
                                </p>
                                <span class="author" style="font-size: 11px; color: #808080;margin-right: 6px;">@item.writer</span>
                                <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                    <span class="date" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                                    <span class="comments" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.comment.Count</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
  }
            </div>
            <!-- ===============.=======End Slider-3================ -->
            <!--====================LAYOUT-4========================-->
@foreach (news item in ViewBag.healthy_fth)
{
            <div class="layout_3--item row  fadeIn margin-top-30" style="visibility: visible; animation-name: fadeIn;">
                <div class="col-md-4 col-sm-5  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <a href="@Url.Action("read", "news", new { id = item.id })"><img src="~/Public/images/@item.photo" class="img-responsive" alt=""></a>
                    </div>
                </div>
                <div class="col-md-8 col-sm-7  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <h4><a href="@Url.Action("read", "news", new { id = item.id })">@item.description</a></h4>
                    <p>
                       @item.content.Substring(0,70)..
                    </p>
                    <span class="author" style="font-size: 11px; color: #808080;margin-right: 6px;">@item.writer</span>
                    <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <span class="date" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                        <span class="comments" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.comment.Count</span>
                    </div>
                </div>
            </div>
            <h4 class="margin-top-15"></h4>
}
        </div>

        <!--==================LAYOUT-ASIDE-1=================-->
        <aside class="col-md-4 col-sm-4">
            <div class="side-widget margin-bottom-60  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                <!-- ======================Advertsment================ -->
                <div class="ads ad-300 margin-bottom-60  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <h3 class="heading-1"><span>Elan</span></h3>
                    <img src="~/Public/images/@ViewBag.setting.advertsment" class="img-responsive" alt="">
                </div>
                <!--====================LAYOUT-ASIDE-SOCIAL======================-->
                <div class="side-widget margin-bottom-60">
                    <h3 class="heading-1"><span>Sosial şəbəkə</span></h3>
                    <div class="social">
                        @foreach (sosial item in ViewBag.sosial)
                        {
                            <div class="share s_facebook">
                                <a href="@item.name"><i class="@item.link"></i></a>
                            </div>
                        }

                    </div>
                    <div class="clearfix"></div>
                </div>
                <!--====================LAYOUT-ASIDE-Trend======================-->
                <h3 class="heading-1"><span>Yeni</span></h3>

                <ul class="trending-text">

                    @foreach (care item in ViewBag.care)
                    {
                        <li>
                            <em>@item.count</em>
                            <p><a href="@Url.Action("read","news", new {id=item.id})">@item.description</a> <span>@item.date.ToString("dd.MMMM.yy")</span></p>
                        </li>
                    }
                </ul>
                <!--====================LAYOUT-ASIDE-1======================-->
                <h3 class="heading-1  margin-top-60"><span>başlıq</span></h3>
                <div class="row  fadeIn" style="visibility: visible; animation-name: fadeIn;">
@foreach (news item in ViewBag.healthy_colms)
{

                    <div class="col-md-6 col-sm-6  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                        <div class="layout_2--item margin-bottom-5  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                            <div class="thumb  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <div class=" gallery2  fadeIn" style="visibility: visible; animation-name: fadeIn;"></div>
                                <a href="@Url.Action("read", "news", new { id = item.id })"><img src="~/Public/images/@item.photo" class="img-responsive" alt=""></a>
                            </div>
                            <h4 class="margin-top-10"><a href="@Url.Action("read", "news", new { id = item.id })">@item.description</a></h4>
                            <span class="author" style="font-size: 11px; color: #808080; margin-right: 6px;">@item.writer</span>
                            <div class="meta  fadeIn" style="visibility: visible; animation-name: fadeIn;">
                                <span class="date" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.date.ToString("dd.MMMM.yy")</span>
                                <span class="comments" style="font-size: 11px;color: #808080;margin-right: 6px;">@item.comment.Count</span>
                            </div>
                        </div>
                    </div>
}
                </div>
            </div>
        </aside>
    </div>
</div>